<header id="header">
  <div class="logo">
    <a style="line-height: 52px" href="index.html">ScrapZone</a>
    <i class="logo__trigger zmdi zmdi-menu" data-mae-action="block-open" data-mae-target="#navigation"></i>
  </div>

  <ul class="top-menu" style="position: absolute; top:17px; right: 0">
    <li class="top-menu__profile dropdown">
      <a data-toggle="dropdown" href="">
                        <i class="zmdi zmdi-account-circle"></i>
                    </a>

      <ul class="dropdown-menu pull-right dropdown-menu--icon">
        <li>
          <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
        </li>
        <li>
          <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
        </li>
        <li>
          <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
        </li>
        <li>
          <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
        </li>
      </ul>
    </li>
  </ul>

  <form class="top-search">
    <input type="text" class="top-search__input" placeholder="Search for people, files & reports">
    <i class="zmdi zmdi-search top-search__reset"></i>
  </form>
</header>